
.hero-wrapper {
  width: 100%;
  overflow: hidden;
}

.hero-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  position: relative;
}

.hero-container.hidden {
  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.content-container {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  min-height: 100vh;
}

.content-container.visible {
  will-change: transform, opacity;
}

